@import "tailwindcss";

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato-v25-latin-300.woff2') format('woff2');
    font-weight: 300;    
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-v31-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-v31-latin-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

